<section class="cb-comparison" style="{%  render 'spacing-padding', settings: section.settings %}">
  <div class="section section--{{section.settings.section_width}} color-{{section.settings.color_scheme}}">
{{'cb-comparison.css' | asset_url | stylesheet_tag }}
       <div class="chart-col"></div> 
            <div class="chart-col"></div> 
      <div class="comparison-chart-title">
        <h2 class="h2 chart-text">Better vs Other Drinks</h2>
      </div>
<div class="comparison-chart">
       <div class="chart-row chart-head">
        
            <div class="chart-col post-sticky" style="margin-left:160px;"><span class="col-head">Energy Boost</span></div> 
            <div class="chart-col"><span class="col-head">Focus</span></div> 
            <div class="chart-col"><span class="col-head">Advanced Electrolytes</span></div> 
            <div class="chart-col"><span class="col-head">13 Essential Supplements</span></div> 
            <div class="chart-col"><span class="col-head">Hormonal Support</span></div> 
            <div class="chart-col"><span class="col-head">Bio-Nutrient Hydration<sup>TM</sup></span></div> 
        </div>  
      
        <div class="chart-row">
            <div class="chart-col sticky-col"><img src="https://cdn.shopify.com/s/files/1/1517/5664/files/BetterThanLogo.svg?v=1762015819" class="logo" width="120" height="auto" alt="Better HyBurst Logo"></div> 
            <div class="chart-col post-sticky"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
        </div>  
      
        <div class="chart-row">
            <div class="chart-col sticky-col"><img src="https://cdn.shopify.com/s/files/1/1517/5664/files/Sports_Drinks_-_Blurry.png?v=1762150659" class="other" width="60" height="auto" alt="Better HyBurst Logo"><span class="brand">Sports Drinks</span></div> 
            <div class="chart-col post-sticky"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="featured-text">Limited</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
        </div>  
      
        <div class="chart-row">
            <div class="chart-col sticky-col"><img src="https://cdn.shopify.com/s/files/1/1517/5664/files/Energy_Drinks_-_Blurry.png?v=1762150643" class="other" width="60" height="auto" alt="Energy Drinks"><span class="brand">Energy Drinks</span></div> 
            <div class="chart-col post-sticky"><span class="featured-text">Caffeine Crash</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
        </div>  
      
        <div class="chart-row">
            <div class="chart-col sticky-col"><img src="https://cdn.shopify.com/s/files/1/1517/5664/files/Electrolyte_Powders.png?v=1762153992" class="other" width="60" height="auto" alt="Electrolyte Powders"><span class="brand">Electrolyte Powders</span></div> 
            <div class="chart-col post-sticky"><span class="featured-text">Caffeine Crash</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="featured-text">Unbalanced</span></div> 
            <div class="chart-col"><span class="better-no">{{ 'icon-x.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="better-yes">{{ 'icon-check.svg' | inline_asset_content }}</span></div> 
            <div class="chart-col"><span class="featured-text">Limited</span></div> 
        </div>  
    </div>
  </div>
</section>

