{% assign block_settings = block.settings %}
<div class="cb-pills cb-pills--{{ block.id }} spacing-style" style="{% render 'spacing-style', settings: block.settings %}">
{{ 'cb-pills.css' |asset_url | stylesheet_tag }}
  {% content_for 'blocks' %}
</div>
<style>
    .single-pill{
        background-color:{{ block_settings.bg_color }};
        border-radius:{{block_settings.border_radius }}px;
color:{{block_settings.text_color }};}
</style>
{% schema %}
{
  "name": "CB Pills",
  "class": "cb-pills-grid",
  "settings": [
      {
    "type": "header",
   "content": "Pill Colors"},
   {
"type": "color",
"id":"bg_color",
"label":"Pill Background"
},
   {
"type": "color",
"id":"text_color",
"label":"Text Color"
},
 {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }

  ],
  "blocks": [
    { "type": "_cb-pill" }
  ],
  
  "presets": [
    {
      "name": "CB Pills",
      "category": "Custom"
    }
  ]
}
{% endschema %}